html {
  font: normal 100%/1.5 Merriweather;
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #d05c2e;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

h1 {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background-color: #fff;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .4rem 0;
  list-style-type: none;
}

a:hover {
  background-color: #a63f38;
}

.nav li {
  border: 1px solid #a63f38;
  color: white;
  font-size: 1.125rem;
  width: 33.333%;
  padding: .5em 0;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.leftgrain {
  float: left;
  max-width: 40px;
}

.rightgrain {
  float: right;
  max-width: 40px;
}
